#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    text-align: left;
    justify-content: center;
    align-items: center;
}

#contenedor {
    width: 390px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    text-align: left;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 30px;
}

#contenido {
    line-height: 40px;
    text-align: center;
    padding: 20px;
    background-color: #add8e6;
    border-radius: 8px;
    width: 350px;
    height: 110px;
    border-top-left-radius: 0;
}

#button{
    background-color: #72AEFC;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

#send, #search{
    background-color: #72fccc;
    height: 30px;
    width: 80px;
    border-radius: 8px;
    border-width: 0;
    cursor: pointer;
}